# Aliases for shortcuts
alias ll='ls -ltr'
alias llh='ls -ltrh'
alias lla='ls -ltra'
alias gpo='git pull origin'
alias gcm='git checkout master'
alias vsql='$dir_docs/vsql/vsql'
alias cdir_docs='cd $dir_docs/'
alias cdir_dwnds='cd $dir_dwnds'
alias cdir_git='cd $dir_git'
alias cdir_python='cd $dir_python'
alias cdir_azkaban='cd $dir_azkaban'
alias cdir_java='cd $dir_java'
alias cdir_groovy='cd $dir_groovy'
alias cdir_shell='cd $dir_shell'
alias cdir_dsmjobs='cd $dir_dsmjobs'
alias cdir_kafka='cd $dir_kafka'
